{% set k8s = salt['grains.filter_by']({
        'aarch64': {
            "cpu_arch_map": 'arm64',
            "kernel_cpu_arch_map": grains['kernel']|lower ~ "-arm64"
        },
        'armv6l': {
            "cpu_arch_map": 'arm',
            "kernel_cpu_arch_map": grains['kernel']|lower ~ "-arm"
        },
        'armv7l': {
            "cpu_arch_map": 'arm',
            "kernel_cpu_arch_map": grains['kernel']|lower ~ "-arm"
        },
        'x86_64': {
            "cpu_arch_map": 'amd64',
            "kernel_cpu_arch_map": grains['kernel']|lower ~ "-amd64"
        }
  }
  , grain="cpuarch"
  , merge=salt['pillar.get']('k8s:lookup'))
%}
